# lighttpd config file

server.port = {{port}}
server.document-root = "{{docroot}}"
server.username = "nobody"
server.groupname = "nogroup"
server.force-lowercase-filenames = "disable"
#server.max-keep-alive-requests = 0
#connection.kbytes-per-second = 4096
server.max-write-idle = 1800
server.max-keep-alive-idle = 1800
server.max-keep-alive-request = 64
server.event-handler = "linux-sysepoll"
server.network-backend = "linux-sendfile"

server.modules = ( "mod_alias", "mod_expire" )

dir-listing.activate = "enable"
index-file.names = ( "index.html", "index.htm" )
expire.url = ( "" => "access plus 1 days" )

mimetype.assign = (
	{{mimetypes}}
	"" => "application/octet-stream"
)

{{aliases}}



